---
import Container from "../layout/Container.astro";
import SectionLine from "../ui/SectionLine.astro";
import RoadmapInteractive from "../ui/RoadmapInteractive.astro";
---

<section class="mt-28">
  <SectionLine />

  <RoadmapInteractive />
  <SectionLine />
</section>
