---
import Container from "../layout/Container.astro";
import SectionLine from "../ui/SectionLine.astro";
import TestimonialsCarousel from "../ui/TestimonialsCarousel.astro";
---

<section class="relative mt-28">
  <SectionLine />
  <Container class="py-20 lg:py-32">
    <TestimonialsCarousel />
  </Container>
</section>
