---
import Layout from "@/layouts/Main.astro";
import Navbar from "@/components/layout/Navbar.astro";
import Footer from "@/components/layout/Footer.astro";
import ProgramsHero from "@/components/sections/ProgramsHero.astro";
import QuoteSection from "@/components/sections/QuoteSection.astro";
import ProgramArchitecture from "@/components/sections/ProgramArchitecture.astro";
import ProfessionalJourney from "@/components/sections/ProfessionalJourney.astro";
---

<Layout title="Programs | HumbleBee AI Academy">
  <Navbar />
  <main>
    <ProgramsHero />
    <ProgramArchitecture />
    <QuoteSection />
    <ProfessionalJourney />
  </main>
  <Footer />
</Layout>
