---
import Container from "@/components/layout/Container.astro";
import "../styles/global.css";
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="preload"
			href="/fonts/Inter.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/Manrope.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body class="relative min-h-screen bg-background font-sans antialiased overflow-x-hidden">
		<Container
			class="fixed inset-0 z-50 pointer-events-none mix-blend-difference"
		>
			<div class="mx-auto h-full border-x border-white/15"></div>
		</Container>
		<main class="relative z-10">
			<slot />
		</main>
	</body>
</html>
